/* Typography */

// FORM FIELDS ===========================
[type="text"],
[type="email"],
[type="password"],
[type="number"],
[type="file"],
select,
textarea {
	// -webkit-appearance: none;
	box-shadow: none;
	outline: none;
	//border: 1px solid $borderColor;
	height: 47px;
	//background: $lightGrey;
	border-radius: 10px;
	&:hover,
	&:active,
	&:focus {
		outline: none;
		box-shadow: none !important;
	}
}

// LINKS ====================================================
a {
	//color: $linkColor;
	text-decoration: none;
	@include transition(all .3s ease);
	&:hover,
	&:active,
	&:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
		//color: $orange !important;
	}
}

// BUTTONS =================================
.btn-green {
	background: $green;
	&:hover,
	&:active,
	&:focus {
		background: $darkgreen !important;
	}
}
//headings=============================
h2 {
	color: $light-red;
	font-weight: 700;
	font-size: 2.25rem;
}