/* Variables */

// COLORS
$black: rgb(0, 0, 0);
//$darkBlack: rgb(34, 34, 34);
//$darkenBlack: rgb(50, 50, 50);
$lightBlack: rgb(74, 74, 74);
//$lightenBlack: rgb(75, 79, 84);
$white: rgb(255, 255, 255);
//$grey: rgb(210, 210, 210);
//$lighterGrey: rgb(250, 250, 250);
//$lightGrey: rgb(27, 27, 27);
//$lightenGrey: rgb(235, 235, 235);

// ROOT 					==============================
$baseTextColor: $lightBlack;
$whiteText: $white;

// TYPOGRAPHY 			==============================
$lato: "Lato", sans-serif;
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;

//$basefont : "Open Sans", sans-serif;
$baseFont: $lato;
$baseFontSize: 1.4rem;
$baseLineHeight: 1.45;
$baseFontWeight: 500;

// Links
// $linkColor: $blue;
// $linkColorHover: darken($linkColor, 10);
// $linkColorVisited: darken($linkColorHover, 10);
// $linkColorFocus: darken($linkColorVisited, 10);